.DS_Store
**/target/
.idea
*.iws
*.iml
*.ipr
**/npm-debug.log
**/node_modules/
**/patrimonio-mobiliario-app/app
**/patrimonio-mobiliario-app/.vscode/
**/patrimonio-mobiliario-app/.tmp/
**/patrimonio-mobiliario-app/jest_0/
.attach_pid*
.project
.settings/
.docker-portainer.yml
.docker-database.yml
.oracle/

variables.env
